code.hljs {
	color: #cdd6f4 !important;
	background: #1e1e2e !important;
}

code .hljs-keyword {
	color: #cba6f7 !important;
}

code .hljs-built_in {
	color: #f38ba8 !important;
}

code .hljs-type {
	color: #f9e2af !important;
}

code .hljs-literal {
	color: #fab387 !important;
}

code .hljs-number {
	color: #fab387 !important;
}

code .hljs-operator {
	color: #94e2d5 !important;
}

code .hljs-punctuation {
	color: #bac2de !important;
}

code .hljs-property {
	color: #94e2d5 !important;
}

code .hljs-regexp {
	color: #f5c2e7 !important;
}

code .hljs-string {
	color: #a6e3a1 !important;
}

code .hljs-char.escape_ {
	color: #a6e3a1 !important;
}

code .hljs-subst {
	color: #a6adc8 !important;
}

code .hljs-symbol {
	color: #f2cdcd !important;
}

code .hljs-variable {
	color: #cba6f7 !important;
}

code .hljs-variable.language_ {
	color: #cba6f7 !important;
}

code .hljs-variable.constant_ {
	color: #fab387 !important;
}

code .hljs-title {
	color: #89b4fa !important;
}

code .hljs-title.class_ {
	color: #f9e2af !important;
}

code .hljs-title.function_ {
	color: #89b4fa !important;
}

code .hljs-params {
	color: #cdd6f4 !important;
}

code .hljs-comment {
	color: #585b70 !important;
}

code .hljs-doctag {
	color: #f38ba8 !important;
}

code .hljs-meta {
	color: #fab387 !important;
}

code .hljs-section {
	color: #89b4fa !important;
}

code .hljs-tag {
	color: #a6adc8 !important;
}

code .hljs-name {
	color: #cba6f7 !important;
}

code .hljs-attr {
	color: #89b4fa !important;
}

code .hljs-attribute {
	color: #a6e3a1 !important;
}

code .hljs-bullet {
	color: #94e2d5 !important;
}

code .hljs-code {
	color: #a6e3a1 !important;
}

code .hljs-emphasis {
	color: #f38ba8 !important;
	font-style: italic !important;
}

code .hljs-strong {
	color: #f38ba8 !important;
	font-weight: bold !important;
}

code .hljs-formula {
	color: #94e2d5 !important;
}

code .hljs-link {
	color: #74c7ec !important;
	font-style: italic !important;
}

code .hljs-quote {
	color: #a6e3a1 !important;
	font-style: italic !important;
}

code .hljs-selector-tag {
	color: #f9e2af !important;
}

code .hljs-selector-id {
	color: #89b4fa !important;
}

code .hljs-selector-class {
	color: #94e2d5 !important;
}

code .hljs-selector-attr {
	color: #cba6f7 !important;
}

code .hljs-selector-pseudo {
	color: #94e2d5 !important;
}

code .hljs-template-tag {
	color: #f2cdcd !important;
}

code .hljs-template-variable {
	color: #f2cdcd !important;
}

code .hljs-diff-addition {
	color: #a6e3a1 !important;
	background: rgba(166, 227, 161, .15) !important;
}

code .hljs-diff-deletion {
	color: #f38ba8 !important;
	background: rgba(243, 139, 168, .15) !important;
}